<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center p-2">
        <h2 class="p-1">{{image.title}}</h2>
        <div class="p-1">
            <button class="btn btn-danger" id="btn-delete" data-id="{{image._id}}">
                <i class="fas fa-trash-alt"></i> Eliminar
            </button>
        </div>
    </div>

    <div class="card-body p-2">
        <div class="p-1">
            <p>{{image.description}}</p>
            <div class="text-center">
                <img src="/public/upload/{{image._id}}{{image.ext}}" alt="" class="img-fluid">
            </div>
        </div>
    </div>

    <div class="card-footer d-flex justify-content-between align-items-center p-2">
        <div class="p-1">
            <button class="btn btn-success" id="btn-like" data-id="{{image._id}}">
                <i class="fas fa-thumbs-up"></i> Like
            </button>
        </div>
        <p class="fw-bold m-0 likes-count p-1">
            <i class="fas fa-heart"></i> {{image.likes}}
        </p>
        <p class="fw-bold m-0 p-1">
            <i class="fas fa-eye"></i> {{image.views}}
        </p>
        <p class="fw-bold m-0 p-1">
            <i class="far fa-clock"></i> {{timeAgo image.timestamp}}
        </p>
    </div>
</div>

<div class="card mt-3 mb-3">
    <div class="card-header d-flex justify-content-between align-items-center p-2">
        <h3 class="m-0 p-1">Comentarios</h3>
        <i class="fas fa-plus p-1" role="button" id="btn-toggle-comment"></i>
    </div>

    <div class="card-body p-0">
        <blockquote class="mb-0 p-2" id="post-comment" style="display: none">
            <div class="p-1">
                <form action="/images/{{image._id}}/comment" method="POST">
                    <div class="mb-3">
                        <input type="text" class="form-control" name="name" placeholder="Nombre">
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" name="email" placeholder="Correo electrónico">
                    </div>
                    <div class="mb-3">
                        <textarea name="comment" rows="2" class="form-control" placeholder="Tu comentario"></textarea>
                    </div>
                    <button class="btn btn-success" id="btn-comment">
                        <i class="fas fa-comment"></i> Publicar
                    </button>
                </form>
            </div>
        </blockquote>

        {{#if comments}}
            <div class="container p-1" style="overflow: hidden">
            {{#each comments}}
                <div class="row w-100 m-0">
                    <div class="col-3 col-sm-2 col-xl-1 d-flex justify-content-center align-items-center p-0">
                        <img src="http://gravatar.com/avatar/{{gravatar}}?d=monsterid&s=45" alt="" class="rounded-circle">
                    </div>    
                    <div class="col-9 col-sm-10 col-xl-11 p-2">
                        <blockquote class="col m-0">
                            <p class="my-1">{{comment}}</p>
                            <footer class="blockquote-footer my-1">{{name}}, {{timeAgo timestamp}}</footer>
                        </blockquote>
                    </div>
                </div>
            {{/each}}
        </div> 
        {{/if}}
    </div>
</div>

{{!-- Scripts --}}
<script src="/public/js/scripts.js"></script>